@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">The reactor temperature exceeds the optimal range</MudAlert>




<div class="container">
    <MudButton Variant="Variant.Filled">div</MudButton>
    <MudButton Variant="Variant.Filled">Default</MudButton>
</div>

